[Unit]
Description=Lazrbot Discord Bot
Wants=basic.target
After=basic.target network.target syslog.target

[Service]
User=ec2-user
Group=ec2-user
Type=simple
ExecStart=/usr/local/bin/lazrbot/lazrbot
WorkingDirectory=/usr/local/bin/lazrbot
Restart=always
TimeoutSec=5

[Install]
WantedBy=multi-user.target